<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('search')">

</head>
<body>
<header th:replace="common/template_menu::header">

</header>

<include file="../common/func.jsp">
<script type="text/javascript">

    function validOrder() {

        var idList = new Array
        ("creditCard","expiryDate","billToFirstName","billToLastName",
            "billAddress1", "billCity","billState","billZip",
            "billCountry"
        );
        var msList = new Array
        ("cError","eError","bfError","blError",
            "baError","bcError","bsError","bzError",
            "bcoError"
        );
        return valid(idList,msList);
    }

</script>

    <div id="Content">


<div id="Catalog">
    <form action="/order/newOrder?flag=O" method="post" onsubmit="return validOrder()">

        <table>
            <tbody>
            <tr>
                <th colspan="2">Payment Details</th>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td>
                    <select name="cardType" id="cardType">
                        <option selected="selected" value="Visa">Visa</option>
                        <option value="MasterCard">MasterCard</option>
                        <option value="American Express">American Express</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <td>
                    <input name="creditCard" id="creditCard" value="999 9999 9999 9999" type="text">
                    * Use a fake number!
                </td>
                <span style="color: Red;" id="cError"></span>
            </tr>
            <tr>
                <td>
                    Expiry Date (MM/YYYY):
                </td>
                <td>
                    <input name="expiryDate" id="expiryDate" value="12/03" type="text">
                </td>
                <span style="color: Red;" id="eError"></span>
            </tr>
            <tr>
                <th colspan="2">Billing Address</th>
            </tr>

            <tr>
                <td>First name:</td>
                <td>
                    <input name="billToFirstName" id="billToFirstName" value="ABC" type="text">
                </td>
                <span style="color: Red;" id="bfError"></span>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>
                    <input name="billToLastName" id="billToLastName" value="XYX" type="text">
                </td>
                <span style="color: Red;" id="blError"></span>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td>
                    <input name="billAddress1" id="billAddress1" value="901 San Antonio Road" type="text" size="40">
                </td>
                <span style="color: Red;" id="baError"></span>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td>
                    <input name="billAddress2" id="billAddress2" value="MS UCUP02-206" type="text" size="40">
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <input name="billCity"  id="billCity" value="Palo Alto" type="text">
                </td>
                <span style="color: Red;" id="bcError"></span>
            </tr>
            <tr>
                <td>State:</td>
                <td>
                    <input name="billState" id="billState" value="CA" type="text" size="4">
                </td>
                <span style="color: Red;" id="bsError"></span>
            </tr>
            <tr>
                <td>Zip:</td>
                <td>
                    <input name="billZip" id="billZip" value="94303" type="text" size="10">
                </td>
                <span style="color: Red;" id="bzError"></span>
            </tr>
            <tr>
                <td>Country:</td>
                <td>
                    <input name="billCountry" id="billCountry" value="USA" type="text" size="15">
                </td>
                <span style="color: Red;" id="bcoError"></span>
            </tr>

            <tr>
                <td colspan="2">
                    <input name="shippingAddressRequired" value="true" type="checkbox">
                    Ship to different address...
                </td>
            </tr>

            </tbody></table>

        <input name="/order/newOrder?flag=O" value="Continue" type="submit">


    </form>
</div>
    </div>
<footer th:replace="common/template_menu::footer">

</footer>
</body>
</html>